@model DLL.Models.CheckoutViewModel

<head>
    <link href="~/Content/checkoutstyle.css" rel="stylesheet" />
</head>


<div class="progress">
    <div class="circle done">
        <span class="label">1</span>
        <span class="title">Dates</span>
    </div>
    <span class="bar done"></span>
    <div class="circle done">
        <span class="label">2</span>
        <span class="title">Rooms</span>
    </div>
    <span class="bar done"></span>
    <div class="circle done">
        <span class="label">3</span>
        <span class="title">Info</span>
    </div>
    <span class="bar done"></span>
    <div class="circle active">
        <span class="label">4</span>
        <span class="title">Confirm</span>
    </div>

</div>

@using (Html.BeginForm("SendEmail", "Booking"))
{

    <h2>Confirm Booking Checkout </h2>
    <div class="container, stylez">
        
        ´
        <div><label> First Name: </label> @Model.TemporaryBooking.CustomerFirstname</div>

        <br />
        <div><label> Last Name: </label> @Model.TemporaryBooking.CustomerLastname</div>

        <br />
        <div><label> Email: </label> @Model.TemporaryBooking.CustomerEmail</div>

        <br />
        <div><label> Phonenr: </label> @Model.TemporaryBooking.CustomerPhoneNr</div>

        <br />
        <div> <label> Start Date </label>: @Model.TemporaryBooking.StartDate</div>

        <br />
        <div> <label> End Date: </label> @Model.TemporaryBooking.EndDate</div>

        <br />
        <label>Room(s):</label>
        @foreach (var v in Model.TemporaryBooking.Rooms)
        {

            <p>@v.Name</p>
        }

        <input type="submit" value="confirm" class="btn btn-success" />
    </div>
}