@model BookingApp.Models.BookingConfirmViewModel
@{
    ViewBag.Title = "BookingCheckout";
}

<h2>Booking Checkout</h2>

<p>First/Last name @Model.Customer.FirstName + @Model.Customer.LastName</p>
<p>Telephone: @Model.Customer.Telephone</p>
<p>Id: @Model.Customer.Id</p>


<table class="table">
   
        
    
    <h4>Rooms to be booked</h4>
    @foreach (var r in Model.Rooms)
    {
        <tr>
            <td>Id: @r.Id</td>
            <td>Persons: @r.Persons</td>
            <td>Price: @r.Price</td>
            <td>Description: @r.Description</td>
            <td>Name: @r.Name</td>
        </tr>
    }
</table>