@model BookingApp.Entities.Customer




<div class="container">
    @using (Html.BeginForm("CustomerInformation", "Booking"))
    {


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-5">
                @Html.Label("Fornavn")
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                @Html.Label("Efternavn")
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                @Html.Label("Mobilnummer")
                @Html.EditorFor(model => model.Telephone)
                @Html.ValidationMessageFor(model => model.Telephone)
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                @Html.Label("Email")
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)

            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6"></div>
        </div>

        <input type="submit" value="Confirm" class="btn btn-success" />



        }
</div>
